@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
	font-family: 'arial';
}

h1, h2, h3 {
	font-family: 'arial';
	font-weight: 400;
	margin-bottom: 0;
}

.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.remark-slide-content h4 { font-size: 1.3em; }

.footnote {
	position: absolute;
	bottom: 3em;
}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
	color: rgb(249, 38, 114);
}

code {
	background: #e7e8e2;
	border-radius: 5px;
}

.inverse {
	background: #272822;
	color: #777827;
}
